<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link active" routerLink="show-list"><button class="nav-btn btn btn-outline-primary btn-light">Wyświetl własne proponowane tematy prac</button></a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" routerLink="add"><button class="nav-btn btn btn-outline-primary btn-light">Dodaj własny proponowany temat pracy</button></a>
    </li>
</ul>

<!-- <div class="container">
    <div class="row">
        <a class="btn btn-light btn-outline-primary" routerLink="show-list">Wyświetl własne proponowane tematy prac</a>
    </div>
    <div class="row">
        <a class="btn btn-light btn-outline-primary" routerLink="add">Dodaj własny proponowany temat pracy</a>
    </div>
</div> -->

<!-- 

    <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/dashboards/student/proposed-thesis/show"><button class="btn btn-light btn-outline-primary">Wyświetl własne proponowane tematy</button></a>
    </li>
    <li>
      <a class="nav-link active" routerLink="/dashboards/student/proposed-thesis/show-from-promoters"><button class="btn btn-light btn-outline-primary">Wyświetl tematy zaproponowane przez promotorów</button></a>
    </li>
    <li class="nav-item">
      <a class="nav-link"routerLink="/dashboards/student/proposed-thesis/add"><button class="btn btn-light btn-outline-primary">Dodaj proponowany temat</button></a>
    </li>
  </ul>
 -->