<div class="container">
    <nav class="navbar-nav navbar-expand navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand">Panel promotora</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#promoterNavbar"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="promoterNavbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/dashboards/promoter">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/dashboards/promoter/show-students">Studenci</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/dashboards/promoter/show-promoter-theses">Prace dyplomowe</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>