<div class="container">
    <table class="table table-stripped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Dodano przez</th>
                <th scope="col">Treść</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let comment of comments; index as i">
                <th scope="row">{{i+1}}</th>
                <td>
                    {{comment.createdById}}
                    {{getUserName(comment.createdById)}}
                </td>
                <td>{{comment.comment}}</td>
            </tr>
        </tbody>
    </table>
</div>