<div class="container">
    <button class="btn btn-primary" (click)="showAddCommentBtn()" *ngIf="showCommentsBtn">Dodaj komentarz</button>
    <div class="row">
        <app-details-comment-proposed-thesis-add *ngIf="addCommentShow"></app-details-comment-proposed-thesis-add>

        <div class="col">
            <div class='text-center' *ngIf="comments.length == 0"><h3>Brak komentarzy do pracy</h3></div>
            <table class="table table-stripped" *ngIf="comments.length > 0">
                <thead>
                    <tr>
                        <th scope="col" style="width: 10%">#</th>
                        <th scope="col" style="width: 20%">Dodano przez</th>
                        <th scope="col" style="width: 70%">Treść</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let comment of comments; index as i">
                        <th scope="row">{{i+1}}</th>
                        <td>
                            <!-- {{comment.createdById}} -->
                            <a [routerLink]="['../../user-details', comment.createdById]">{{getUserName(comment.createdById)}}</a>
                        </td>
                        <td>{{comment.comment}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>