<ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/dashboards/student/proposed-thesis/show"><button class="btn btn-primary nav-btn">Wyświetl własne proponowane tematy</button></a>
    </li>
    <li>
      <a class="nav-link active" routerLink="/dashboards/student/proposed-thesis/show-from-promoters"><button class="btn btn-primary nav-btn">Wyświetl tematy zaproponowane przez promotorów</button></a>
    </li>
    <li class="nav-item">
      <a class="nav-link"routerLink="/dashboards/student/proposed-thesis/add"><button class="btn btn-primary nav-btn">Dodaj proponowany temat</button></a>
    </li>
  </ul>