<div class="container mt-5 md-3">
    <mat-card>
        <mat-card-title class="text-center">
            Dodanie komentarza
        </mat-card-title>
        <mat-card-content>
            <form class="d-flex flex-column" [formGroup]="form" (ngSubmit)="onSubmit()">
                <div>
                    <mat-form-field class="input-full-width" appearance="fill">
                        <mat-label>Komentarz</mat-label>
                        <textarea matInput type="text" [formControl]="$any(form).controls['comment']"></textarea>
                        <mat-error
                            *ngIf="$any(form).controls['comment'].hasError('required') && $any(form).controls['comment'].touched"
                            class="text-danger support-text">
                            Komentarz jest wymagany
                        </mat-error>
                    </mat-form-field>
                </div>
                <button mat-raised-button color="primary" class="btn-block" type="submit"
                [disabled]="!$any(form).valid">Dodaj</button>

            </form>
        </mat-card-content>
        <!-- <mat-card-actions>
            <button mat-raised-button color="primary" class="btn-block" type="submit"
            [disabled]="!$any(form).valid">Dodaj</button>
        </mat-card-actions> -->
    </mat-card>
</div>