<div class="container">
    <mat-card class="mat-card" style="padding-left: 10px">
        <mat-card-title class="mat-card-title">
            <h1>Tytuł: <b>{{thesis.name}}</b></h1>
        </mat-card-title>
        <mat-card-content class="mat-card-content">
            <div class="row">
                <h2>Tytuł po angielsku: <b>{{thesis.nameEnglish}}</b></h2>
            </div>
            <div class="row">
                <h2>Promotor: <b><a routerLink='/dashboards/promoter/user-details/{{promoter.id}}'>{{promoter.firstName}}
                            {{promoter.lastName}}</a></b></h2>
            </div>
            <div class='row'>
                <h2>Student: <b><a routerLink='/dashboards/promoter/user-details/{{student.id}}'>{{student.firstName}} {{student.lastName}}</a></b></h2>
            </div>
            <div class="row">
                <h3>Opis: <em>{{thesis.description}}</em></h3>
            </div>
        </mat-card-content>
        <mat-card-actions class="mat-card-actions">
            <!-- <button class="btn btn-primary" (click)="toggleHistoryComments()">Pokaż komentarze do pracy</button> -->
        </mat-card-actions>
    </mat-card>
    <app-details-comments-proposed-thesis [thesisIdEvent]="thesisId" [showCommentsBtn]="false"></app-details-comments-proposed-thesis>
</div>