<ul class="nav flex-column">
    <li class="nav-item">
        <button class="btn btn-light btn-outline-primary" (click)="showAddCommentBtn()" *ngIf="showCommentsBtn" style="width: 100%">Dodaj komentarz</button>
    </li>
</ul>
<div class="container">
    <div class="row">
        <app-shared-proposed-thesis-comments-add *ngIf="addCommentShow"></app-shared-proposed-thesis-comments-add>

        <div class="col">
            <div class='text-center' *ngIf="comments.length == 0"><h3>Brak komentarzy do pracy</h3></div>
            
            <table class="table table-stripped table-hover table-responsive" *ngIf="comments.length > 0">
                <thead>
                    <tr>
                        <th scope="col" style="width: 10%">#</th>
                        <th scope="col" style="width: 20%">Dodano przez</th>
                        <th scope="col" style="width: 70%">Treść</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let comment of comments; index as i">
                        <th scope="row">{{i+1}}</th>
                        <td>
                            <!-- {{comment.createdById}} -->
                            <a [routerLink]="['../user-details', comment.createdById]">{{getUserName(comment.createdById)}}</a>
                        </td>
                        <td>{{comment.comment}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>