<div class="container mt-5 md-3">
    <mat-card id="user-card">
        <mat-card-title class="text-center">
            Detale użytkownika
        </mat-card-title>
        <mat-card-content>
            <h3>Personalia: {{user.title}} {{user.firstName}} {{user.lastName}}</h3>
            <h3>Email: <a href="mailto:{{user.email}}">{{user.email}}</a></h3>
            <h3>Rola: {{user.roleName}}</h3>
            <h3 *ngIf="departmentDto != undefined || departmentDto != null">Wydział: {{departmentDto.name}} {{departmentDto.initials}}</h3>
            <div *ngIf="!haveAcceptedThesis && user.roleName == 'Student'">
                <h3>Ten student nie ma zaakceptowanego tematu pracy</h3>
            </div>
            <div *ngIf="haveAcceptedThesis && user.roleName == 'Student'">
                <h3>Zaakceptowany temat pracy: {{thesis.name}}</h3>
            </div>
            
            

        </mat-card-content>
        <mat-card-actions>
            <button class="btn btn-primary" (click)="showSendEmail()">Wyślij email</button>
        </mat-card-actions>
    </mat-card>
    <app-send-email [destUser]="user" *ngIf="this.showSendEmailComponent"></app-send-email>
    <app-show-proposed-thesis *ngIf="user.roleName == 'Student'"></app-show-proposed-thesis>
</div>
