<div class="container">
    <mat-card>
        <mat-card-title>
            <h1>Tytuł: <b>{{these.name}}</b></h1>
        </mat-card-title>
        <mat-card-content>
            <div class="row">
                <h2>Tytuł po angielsku: <b>{{these.nameEnglish}}</b></h2>
            </div>
            <div class="row">
                <h3>Student: <a routerLink="/dashboards/user-details/{{student.id}}">{{student.firstName}}
                        {{student.lastName}}</a></h3>
            </div>
            <div class="row">
                <h3>Opis: <em>{{these.description}}</em></h3>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button class="btn btn-primary btn-block" (click)="acceptThesis()">Akceptuj</button>
        </mat-card-actions>
    </mat-card>

    <div>
        <app-shared-proposed-thesis-comments [thesisIdEvent]="these.id" [showCommentsBtn]="true">
        </app-shared-proposed-thesis-comments>
    </div>
</div>