<div class="container">
    <nav class="navbar-nav navbar-expand navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand">Panel administratora</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#adminNavbar"
                aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="adminNavbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/dashboards/admin">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/dashboards/admin/userList">Lista użytkowników</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/dashboards/admin/register">Rejestracja użytkownika</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>