<router-outlet>
    <div class="container">
        <div class="row">
            <mat-form-field appearance="standard">
                <mat-label>Filtrowanie</mat-label>
                <input class="btn-block" matInput (keyup)="applyFilter($event)" placeholder="" #input>
            </mat-form-field>
        </div>
        <div class="row">
            <table mat-table [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="asc"
                (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
                        Id
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
                <ng-container matColumnDef="firstName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by firstName">
                        Imię
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
                </ng-container>

                <ng-container matColumnDef="lastName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by lastName">
                        Nazwisko
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by email">
                        Email
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="redirectTo(row.id)"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons aria-label="Wybierz stronę dla poszczególnych elementów">
                
            </mat-paginator>
        </div>
    </div>
</router-outlet>