<div class="container text-center" *ngIf="dataSource.data.length < 1">
    <h1>Brak danych</h1>
</div>
<!--  *ngIf="dataSource.data.length >= 1" -->
<div class="container">
    <div class="row">
        <mat-form-field appearance="standard" style="width: 100%">
            <mat-label>Filtrowanie</mat-label>
            <input class="btn-block" matInput (keyup)="applyFilter($event)" placeholder="" #input>
        </mat-form-field>
    </div>
    <div class="row">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
    class="mat-elevation-z8" style="width: 100%">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id">
            Id
        </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
            Tytuł
        </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="nameEnglish">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by nameEnglish">
            Tytuł angielski
        </th>
        <td mat-cell *matCellDef="let element"> {{element.nameEnglish}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by description">
            Opis
        </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="redirectTo(row.id)" ></tr>
</table> 
</div>
</div>

