<div class="container" id='kontener'>
    <mat-card class="mat card" style="padding-left: 10px" *ngIf="!isThesisExist">
        <mat-card-title class="text-center">
            <h1>Brak zaakceptowanej pracy dyplomowej</h1>
            <h3>Promotor musi zaakceptować pracę dyplomową</h3>
        </mat-card-title>
    </mat-card>
    <mat-card class="mat-card" style="padding-left: 10px" *ngIf="isThesisExist">
        <mat-card-title class="mat-card-title">
            <h1>Tytuł: <b>{{thesis.name}}</b></h1>
        </mat-card-title>
        <mat-card-content class="mat-card-content">
            <div class="row">
                <h2>Tytuł po angielsku: <b>{{thesis.nameEnglish}}</b></h2>
            </div>
            <div class="row">
                <h2>Promotor: <b><a routerLink='../../user-details/{{promoter.id}}'>{{promoter.firstName}} {{promoter.lastName}}</a></b></h2>
            </div>
            <div class="row">
                <h3>Opis: <em>{{thesis.description}}</em></h3>
            </div>
        </mat-card-content>
        <mat-card-actions class="mat-card-actions">
            <div class="row">
                <button class="btn btn-primary" (click)="print()">Pobierz kartę pracy dyplomowej</button>
            </div><br>
            <div class="row">
                <!-- <button class="btn btn-primary" (click)="toggleHistoryComments()">Pokaż komentarze do pracy</button> -->
            </div>
        </mat-card-actions>
    </mat-card>
    <!-- <app-details-comments-proposed-thesis [thesisIdEvent]="thesis.id" [showCommentsBtn]="false" *ngIf="historyCommentsShow"></app-details-comments-proposed-thesis> -->
</div>
<!-- <app-thesis-card-pdf [thesis]="thesis" [student]="user" [promoter]="promoter"></app-thesis-card-pdf> -->